/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
// Physical right side key positions (mirrored from left)
// When looking at right side, from left to right on each row:
// Row 0: 6 7 8 9 0 `
// Row 1: Y U I O P -  
// Row 2: H J K L ; '
// Row 3: N M , . / SHIFT ]
// Row 4:   RAISE BSPC GUI ENTER

            display-name = "Right";
            bindings = <
&kp GRAVE &kp N0   &kp N9    &kp N8   &kp N7   &kp N6
&kp MINUS &kp P    &kp O     &kp I    &kp U    &kp Y
&kp SQT   &kp SEMI &kp L     &kp K    &kp J    &kp H
&kp RBKT  &kp RSHFT &kp FSLH &kp DOT  &kp COMMA &kp M &kp N
&kp RET   &kp RGUI &kp BSPC  &mo 1
            >;
        };

        lower_layer {
// Right side of your lower layer
            display-name = "Lower";
            bindings = <
&trans    &trans    &trans          &trans    &trans    &trans
&kp F7    &kp F8    &kp F9          &kp F10   &kp F11   &kp F12
&kp CARET &kp AMPS  &kp KP_MULTIPLY &kp LPAR  &kp RPAR  &kp TILDE
&trans    &kp MINUS &kp KP_PLUS     &kp LBRC  &kp RBRC  &kp PIPE &trans
                    &trans          &trans    &trans    &trans
            >;
        };

        raise_layer {
// Right side of your raise layer
            display-name = "Raise";
            bindings = <
&kp N6      &kp N7    &kp N8    &kp N9   &kp N0    &trans
&kp N6      &kp N7    &kp N8    &kp N9   &kp N0    &trans
&trans      &kp LEFT  &kp DOWN  &kp UP   &kp RIGHT &trans
&kp KP_PLUS &kp MINUS &kp EQUAL &kp LBKT &kp RBKT  &kp BSLH &trans
                      &trans    &trans   &trans    &trans
            >;
        };

        bt_layer {
// Bluetooth controls for the right side
            display-name = "BT";
            bindings = <
&bt BT_CLR   &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4
&trans       &trans       &trans       &trans       &trans       &trans
&trans       &trans       &trans       &trans       &trans       &trans
&trans       &trans       &trans       &trans       &trans       &trans       &trans
                          &trans       &trans       &trans       &trans
            >;
        };
    };
};;
